body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f2e3;
}

.interior img{
    width: 50%;
    float: right;
}

header {
    height: 300px; 
    color: white; 
    display: flex;
    background-size: cover;  
    align-items: center; 
    justify-content: center; 
    background-image: url("./images/coffee_beans.jpg");}


.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    background-color: #563d28;
}

article {
    padding: 20px;
    background-color: #fff;
    color: #333;
}

.container{
    padding: 0px 20px!important;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 10px 0;
}

h1, h2, h4 {
    color: #6f4e37;
}

img {
    max-width: 100%;
    height: auto;
}

.urlap{
    border:1px solid blue;
    border-radius: 10px;
    padding: 10px!important;
}

footer a{
    color: #6f4e37!important;
}

footer{
    text-align: center!important;
}

.contact-ul li{
    padding-left: 10px;
    margin: 0px!important;
}

.contact-ul{
    padding-left: 20px;
    margin: 0px;
}